//! **************************************************************************
// Written by: Map P.58f on Tue Jan 20 14:47:35 2015
//! **************************************************************************

SCHEMATIC START;
COMP "Led<3>" LOCATE = SITE "AG10" LEVEL 1;
COMP "Led<4>" LOCATE = SITE "AH10" LEVEL 1;
COMP "Led<5>" LOCATE = SITE "AG11" LEVEL 1;
COMP "Led<6>" LOCATE = SITE "AF11" LEVEL 1;
COMP "Led<7>" LOCATE = SITE "AE11" LEVEL 1;
COMP "clk" LOCATE = SITE "AG18" LEVEL 1;
COMP "LCDD<0>" LOCATE = SITE "Y8" LEVEL 1;
COMP "LCDD<1>" LOCATE = SITE "AB7" LEVEL 1;
COMP "LCDRW" LOCATE = SITE "W6" LEVEL 1;
COMP "LCDD<2>" LOCATE = SITE "AB5" LEVEL 1;
COMP "LCDRS" LOCATE = SITE "V7" LEVEL 1;
COMP "LCDD<3>" LOCATE = SITE "AC4" LEVEL 1;
COMP "LCDD<4>" LOCATE = SITE "AB6" LEVEL 1;
COMP "LCDD<5>" LOCATE = SITE "AC5" LEVEL 1;
COMP "LCDD<6>" LOCATE = SITE "AC7" LEVEL 1;
COMP "LCDEN" LOCATE = SITE "AA5" LEVEL 1;
COMP "LCDD<7>" LOCATE = SITE "AD7" LEVEL 1;
COMP "Led<0>" LOCATE = SITE "AG8" LEVEL 1;
COMP "Led<1>" LOCATE = SITE "AH8" LEVEL 1;
COMP "Led<2>" LOCATE = SITE "AH9" LEVEL 1;
SCHEMATIC END;

